* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9fa;
    padding-top: 100px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    justify-content: space-between;
}

.div-header-a {
    display: flex;
    align-items: center;
}

.div-header-a img {
    height: 36px;
    margin-right: 16px;
}



