* {
    box-sizing: border-box;
    color: red;
    margin: 0;
    padding: 0;
}

/*
h1 {
    color: red;  
}

h2 {
    color: green;
}

#economy h2 {
    color: gold;
}

.creation-date {
    color: #ccc;
}
*/

header li {
    display: inline;
}

.container {
    width: 1360px;
    margin: 0 auto 0 auto;
}